NEXT_PUBLIC_STORAGE_PROVIDER=

NEXT_PUBLIC_AWS_ACCESS_KEY_ID=
NEXT_PUBLIC_AWS_S3_BUCKET_NAME=
NEXT_PUBLIC_AWS_S3_REGION=
NEXT_PUBLIC_AWS_SECRET_ACCESS_KEY=

NEXT_PUBLIC_R2_ACCESS_KEY_ID=
NEXT_PUBLIC_R2_SECRET_ACCESS_KEY=
NEXT_PUBLIC_R2_BUCKET_NAME=
NEXT_PUBLIC_R2_REGION=
NEXT_PUBLIC_R2_ACCOUNT_ID=
NEXT_PUBLIC_R2_PUBLIC_URL=

NEXT_PUBLIC_PROJECT_URL=
